@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

$red: #F25F5C;
$yellow: #FFE066;
$blue: #247BA0;
$green: #70C1B3;

$menu-button: #444444;


*, *::after, *::before {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-height: 100%;
}
body {
    margin: 0;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', Arial, sans-serif;
    background: linear-gradient(to bottom right, #35013F, #902086);
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.container {
    background: #f3f3f3;
    height: 80vh;
    width: 400px;
    overflow: hidden;
}

.menu-button {
    z-index: 5;
    position: absolute;
    width: 20px;
    top: 50%;
    left: 1.5rem;
    transform: translate(0, -50%);

    &__bar {
        margin-bottom: 4px;
        height: 2px;
        background: $menu-button;
        border-radius: 40px;
        transition: transform .4s, opacity .4s;
        transform-origin: 0 0;
    }

    &.close {
        .menu-button__bar:nth-child(1) {
            transform: translate(0, 0) rotate(45deg);
        }
        .menu-button__bar:nth-child(2) {
            transform: translate(10px, 0);
            opacity: 0;
        }
        .menu-button__bar:nth-child(3) {
            transform: translate(-2px, 2px) rotate(-45deg);
        }
    }
}

.header {
    position: relative;
    height: 70px;
    background: #fff;

    &.open {
        .menu__item {
            transform: translate3d(0, 80px, 0) scale(1, 1);
            transition: transform .8s ease, opacity .3s;
        }
    }

    &.selected {
        .menu__item {
            transition: transform .8s ease, opacity .3s;
            transform: translate3d(0, 80px, 0) scale(.5, .5);
            opacity: 0;
            transition-delay: 0s;
        }
    }
}

.gooey-wrapper {
    -webkit-filter: url('#goo');
    filter:url('#goo');
    height: 80px;
}

.blender {
    z-index: 3;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
}

.menu {
    position: relative;
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
    &__item {
        border-radius: 50%;
        transform: translate3d(0, -70px, 0) scale(.3, 1);
        transform-origin: 50% 50%;
        
        @for $i from 1 through 5 {
            &:nth-of-type(#{$i}) {
                transition-delay: $i * 100ms;
            }
        }

        &--blue {
            background: $blue;
        }
        &--green {
            background: $green;
        }
        &--yellow {
            background: $yellow;
        }
        &--red {
            background: $red;
        }
    }

    &__link {
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        color: #fff;
    }

    .icon {
        margin-top: .9rem;
        height: 28px;
        width: 28px;
    }
}

.content {
    height: 100%;
    padding: 1rem;

    &__box {
        height: 80px;
        margin-bottom: 1rem;
        background: #eee;
    }
}
